*.o
*.a
*.swp
/Makefile
/aconf.h
/config.log
/config.status
/fofi/Makefile
/goo/Makefile
/splash/Makefile
xpdf/Makefile
/xpdf/pdfdetach
/xpdf/pdffonts
/xpdf/pdfimages
/xpdf/pdfinfo
/xpdf/pdftoppm
/xpdf/pdftops
/xpdf/pdftotext
/xpdf/xpdf
